<header class="body-medium">
    <nav class="navdiv">
        <div class="logo"><a routerLink="/"><img src="assets/logo.jpg" alt="logo"></a></div>
        <div class="nav-link">
            <ul>
                <li ><a class="on-primary-container-text" routerLink="/ourstory">Our Story</a></li>
                <li><a  class="on-primary-container-text"routerLink="/category">Category</a></li>
                <li><a class="on-primary-container-text"routerLink="/services">Our Service</a></li>
                <li><a class="on-primary-container-text"routerLink="/about">About Us</a></li>
                <li><a class="on-primary-container-text" routerLink="/contact">Contact Us</a></li>
            </ul>
            <button  (click)="openDialog()"
                class="primary-button  primary-container on-primary-container-text body-medium">
                Profile
            </button>
        </div>
    </nav>
</header>