.navdiv {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}

img {
    margin-top: 1.1rem;
    margin-left: 3rem;
    height: 60px;
}


ul li {
    list-style-type: none;
    display: inline;
    margin: 1rem;
}

ul li a {
    color: white;
}

.primary-button {
    margin-bottom: .7rem;
    margin-right: 4rem;
    height: 2.5rem;
    width: 6rem;
}