a {
    text-decoration: none;
    color: var(--white);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}





button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    cursor: pointer;
}

.container {
    margin: 5vw 5vw;
}

.text-gray {
    color: var(--text-gray);
}

p {
    color: var(--text-light);
}

.nav {
    background: #4353FF;
    padding: 0 2rem;
    min-height: 10vh;
    overflow: hidden;
    position: fixed;
    width: 96%;
    z-index: 1;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-size: 1.1rem;
}

.nav .nav-items .nav-link .sign-in{
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.nav .nav-items .nav-link a:hover {
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid white;
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    align-self: center;
}

.nav .nav-brand a img {
    width: 100px;
    height: 40px;
}

.nav .social {
    padding: 1.4rem 0
}

.nav .social i {
    padding: 0 .2rem;
}

.nav .social i:hover {
    color: #dddddd;
}
