<div class="main-part display-medium on-tertiary">
    <div class="parent">
        <i mat-button (click)="close()" class="fa-solid fa-xmark secondary-text"></i>
        <h1 class="display-medium  on-secondary-container-text"> Sign Up</h1>
        <div class="child  on-secondary-container-text">
            <div class="login-links">
                <i class="fa-brands fa-google"></i>
                <button class="login-link headline-small on-secondary-container-text"> Sign in with Google</button>
            </div>
            <div class="login-links">
                <i class="fa-brands fa-facebook"></i>
                <a class="login-link headline-small"> Sign in with facebook</a>
            </div>
            <div class="login-links">
                <i class="fa-solid fa-envelope"></i>
                <button class="login-link headline-small on-secondary-container-text">
                    Sign in with email</button>
            </div>
            <div class="create-one headline-small  on-primary-container-text">
                <span> Already have an account ?<button class="headline-small on-primary-container-text"
                        (click)="close()"> Sign in</button></span>
            </div>
        </div>

        <p class="click-tech body-medium  on-secondary-container-text">Click " Sign in " to agree to techmake's <a
                class="body-medium  on-secondary-container-text" href="#">
                Terms of service</a> and acknowledge that <br>
            Techmake's
            <a class="body-medium  on-secondary-container-text  on-secondary-container-text" href="#"> Privacy
                Policy</a> applies to you
        </p>
    </div>
</div>