<div class="main-part on-tertiary">

  <div class="details on-tertiary">
    <i mat-button (click)="close()" class="fa-solid fa-xmark secondary-text"></i>
    <h1 class="display-medium on-secondary-container-text"> Sign in with email</h1>

    <p class="body-large on-secondary-container-text"> Enter the email address associated with <br> your account ,and
      we'll send a magic link to
      <br> your inbox.
    </p>

    <form class="input-email" #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
      <label class="body-large on-secondary-container-text" for="email">Your Email</label>
      <input class="btn-input on-secondary-container-text on-tertiary title-large" type="email" id="email" name="email"
        ngModel required email>
      <input class="btn-submit primary on-primary-text title-medium" type="submit" value="Continue">
    </form>

    <a class="headline-small on-primary-container-text" (click)="close()"> <i class="fa-solid fa-less-than"></i> See all
      sign in
      options</a>
  </div>
</div>