<footer class="footer">
    <div class="container">
        <div class="about-us white" data-aos="fade-right" data-aos-delay="200">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis
                iure, autem nulla tenetur repellendus.</p>
        </div>
        <div class="newsletter white" data-aos="fade-right" data-aos-delay="200">
            <h2>Newsletter</h2>
            <p>Stay update with our latest</p>
            <div class="form-element">
                <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="follow white" data-aos="fade-left" data-aos-delay="200">
            <h2>Follow us</h2>
            <p>Let us be Social</p>
            <div class="social text-gray">
                <a *ngFor="let link of footersocialLinks?.socialMediaLinks" [href]="link.link">
                    <i class="fab fa-{{ getSocialMediaIcon(link.link) }}"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <h4 class="text-gray">
            <a href="">Copyright ©2024 All rights reserved by Techmake.</a>
        </h4>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
</footer>